/* style add for all element */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: white;
}a:hover{
  color: white;
}

/* style for body */
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(-120deg, rgb(22 75 193), rgb(0 0 0));
  color: white;
}

/* style root div */
#root{
  margin-top: 2px;
  width: 99%;
  border-right: 3px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-radius: 10px 10px 0px 0px;
}

/* style navbar component ---------------------------------*/
.navbar{
  /* margin-top: 5px; */
  align-items: center;
  display: flex;
  height: auto;
  padding: 20px 20px;
  justify-content: space-between;
  border: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-radius: 10px;
  background-color: #03031a;
  flex-wrap: wrap;
}
.right-nav{
  display: flex;
  align-items: center;
}
.right-nav h5{
  color: #DDDDDD;
  margin-right: 10px;
}

.greet-time{
  border-top: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}

.addhabit-btn{
  color: #1c2d8f;
  background-color: #ffffff;
  padding: 8px 20px;
  border-radius: 7px;
  font-weight: 700;
}

.addhabit-btn:hover{
  color:  #ffffff;
  background-color: #1c2d8f;
}

/* modal */

.modal-content{
  background-color: #ffffff;
  color: #080641;
  font-weight: 600;
}

.modal-content input{
  font-family: cursive;
}

.modal-header{
  border: none;
}
.modal-footer{
  border: none;
}
/* ---------------------------------------------------- */

/* habits components style------------------------------ */
.habits{
  width: 100%;
}

/* habit under habits component */
.habit{
  width: 100%;
  height: 100px;
  border-bottom: 1px dashed #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  border-radius: 10px;
}
.habit:hover{
  background-color: #081840;
}

.habit-name{
  margin: 10px;
}

.habit-left{
  display: flex;
  align-items: center;
}
.habit-left i{
  color: #2AA8D0;
  padding: 10px;
  border-radius: 50%;
  background-color: #304950;
  margin-right: 10px;
}
.day-complete{
  color: #767475;
  font-size:small;
}
.habit-right{
  display: flex;
  align-items: center;
}
.log-btn{
  text-decoration: none;
  cursor: pointer;
  background-color: #040223;
  padding: 10px;
  border-radius: 7px;
  margin-right: 10px;
  color: white;
  border: none;
  transition: all 0.3s ease-in-out;
}
.log-btn:hover{
  background-color: white;
  color:#040223;
  transform: scale(1.03);
}
.log-btn i{
  margin-right: 5px;
}
.fa-trash{
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
  background-color: #424242;
  transition: all 0.3s ease-in-out;
}
.fa-trash:hover{
  background-color: white;
  color:#040223;
  transform: scale(1.03);
}

/* ------------------------------------------------------*/

/* style week view container --------------------------- */
.days-container{
  margin: 20px 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* style day view component */
.day-container{
  height: 100px;
  width: 150px;
  background-color: #02061c;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
}
p{
  margin: 0%;
}
.circle-icon{
  font-size: 24px;
  margin: 5px 11px;
  /* color: #0B5ED7; */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.active{
  color: #0B5ED7 ;
}

.circle-icon:hover{
  transform: scale(1.2);
}

.border-bottom{
  border-bottom: 2px solid white;
  border-radius: 10px;
}

@media screen and (max-width:516px){
  .navbar{
    justify-content: space-evenly;

  }
}
/* ------------------------------------------------------*/